<%= form_for(@solicitacao) do |f| %>
  <% if @solicitacao.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@solicitacao.errors.count, "error") %> prohibited this solicitacao from being saved:</h2>

      <ul>
      <% @solicitacao.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.hidden_field :instituicao_id %>
  </div>
  <div class="field">
    <%= f.hidden_field :agenda_id %>
  </div>
  <div class="field">
    <%= f.hidden_field :data_emissao %>
  </div>
  <div class="field">
    <%= f.label :paciente_id %><br>
    <%= collection_select(:solicitacao, :paciente_id, Paciente.all, 
      :id, :nome, prompt: true) %>
  </div>
  <div class="field">
    <%= f.label :solicitante %><br>
    <%= f.text_field :solicitante %>
  </div>
  <div class="field">
    <%= f.label :descricao %><br>
    <%= f.text_area :descricao %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
