<%- model_class = Solicitacao -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:instituicao_id) %></th>
      <th><%= Medico.human_attribute_name(:nome) + " " + Medico.model_name.human.titleize %></th>
      <th><%= Clinica.human_attribute_name(:nome) + " " + Clinica.model_name.human.titleize%></th>
      <th><%= Paciente.human_attribute_name(:nome) + " " + Paciente.model_name.human.titleize%></th>
      <th><%= model_class.human_attribute_name(:solicitante) %></th>
      <th><%= model_class.human_attribute_name(:data_emissao) %></th>
      <th><%= model_class.human_attribute_name(:data_agendamento) %></th>
      <th><%= model_class.human_attribute_name(:hora_agendamento) %></th>
      <th><%= model_class.human_attribute_name(:status) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @solicitacoes.each do |solicitacao| %>
      <tr>
        <td><%= link_to solicitacao.instituicao.nome, solicitacao_path(solicitacao)%></td>
        <td><%= solicitacao.agenda.medico.nome %></td>
        <td><%= solicitacao.agenda.clinica.nome %></td>
        <td><%= solicitacao.paciente.nome %></td>
        <td><%= solicitacao.solicitante %></td>
        <td><%= solicitacao.data_emissao %></td>
        <td><%= solicitacao.data_agendamento %></td>
        <td><%= format_time(solicitacao.hora_agendamento) %></td>
        <td><%= situacao(solicitacao.status) %></td>
        <td>
          <%= link_to t('.details', :default => t("helpers.links.details")),
                      solicitacao, :class => 'btn btn-default btn-xs' %>
          <% if usuario_corrente.tipo == "M" %>
            <%= link_to t('.aprovacao', :default => t("helpers.links.aprovacao")), aprovar_solicitacao_path(solicitacao), :class => 'btn btn-primary btn-xs'%>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
