<%= form_for(@clinica) do |f| %>
  <% if @clinica.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@clinica.errors.count, "error") %> prohibited this clinica from being saved:</h2>

      <ul>
      <% @clinica.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nome %><br>
    <%= f.text_field :nome %>
  </div>
  <div class="field">
    <%= f.label :telefone %><br>
    <%= f.text_field :telefone %>
  </div>
  <div class="field">
    <%= f.label :endereco %><br>
    <%= f.text_field :endereco %>
  </div>
  <div class="field">
    <%= f.label :end_numero %><br>
    <%= f.text_field :end_numero %>
  </div>
  <div class="field">
    <%= f.label :end_complemento %><br>
    <%= f.text_field :end_complemento %>
  </div>
  <div class="field">
    <%= f.label :bairro %><br>
    <%= f.text_field :bairro %>
  </div>
  <div class="field">
    <%= f.label :uf %><br>
    <%= collection_select(:clinica, :uf, Estado.all, :uf, :nome, 
      {prompt: true}, {:id => "uf_ajax"}) %>
  </div>
  <div class="field">
    <%= f.label :cidade %><br>
    <%= collection_select(:clinica, :cidade, Municipio.where(:uf => @clinica.uf), :id, :nome, 
      {prompt: true}, {:id => "cidade_ajax"}) %>
  </div>
  <div class="field">
    <%= f.label :cep %><br>
    <%= f.text_field :cep %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
