<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @instituicao.nome %>
</p>

<p>
  <strong>Cnpj:</strong>
  <%= @instituicao.cnpj %>
</p>

<p>
  <strong>Responsavel:</strong>
  <%= @instituicao.responsavel %>
</p>

<p>
  <strong>Endereco:</strong>
  <%= @instituicao.endereco %>
</p>

<p>
  <strong>End numero:</strong>
  <%= @instituicao.end_numero %>
</p>

<p>
  <strong>Complemento:</strong>
  <%= @instituicao.complemento %>
</p>

<p>
  <strong>Bairro:</strong>
  <%= @instituicao.bairro %>
</p>

<p>
  <strong>Cidade:</strong>
  <%= @instituicao.cidade %>
</p>

<p>
  <strong>Uf:</strong>
  <%= @instituicao.uf %>
</p>

<p>
  <strong>Cep:</strong>
  <%= @instituicao.cep %>
</p>

<p>
  <strong>Telefone:</strong>
  <%= @instituicao.telefone %>
</p>

<p>
  <strong>Status:</strong>
  <%= @instituicao.status %>
</p>

<p>
  <strong>Usuario:</strong>
  <%= @instituicao.usuario_id %>
</p>

<%= link_to 'Edit', edit_instituicao_path(@instituicao) %> |
<%= link_to 'Back', instituicoes_path %>
