<%- model_class = Agenda -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
    	<th><%= model_class.human_attribute_name(:especialidade) %></th>
    	<th><%= model_class.human_attribute_name(:medico_id) %></th>
    	<th><%= model_class.human_attribute_name(:clinica_id) %></th>
    	<th><%= model_class.human_attribute_name(:cidade) %></th>
    	<th><%= model_class.human_attribute_name(:data_emissao) %></th>
    	<th><%= model_class.human_attribute_name(:saldo) %></th>
   		<th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @agendas.each do |agenda| %>
      <tr>
        <td><%= agenda.medico.especialidade.descricao %></td>
        <td><%= agenda.medico.nome %></td>
        <td><%= agenda.clinica.nome %></td>
        <td><%= agenda.clinica.municipio.nome %></td>
        <td><%= agenda.data_emissao %></td>
        <td><%= link_to agenda.saldo, solicita_agenda_path(agenda) %></td>
        <td>
          <%= link_to t('.solicitar', :default => t("helpers.links.solicitar")), solicita_agenda_path(agenda), :class => 'btn btn-default' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>