<%- model_class = Agenda -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:clinica_id) %></th>
      <th><%= model_class.human_attribute_name(:data_emissao) %></th>
      <th><%= model_class.human_attribute_name(:quantidade) %></th>
      <th><%= model_class.human_attribute_name(:saldo) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @agendas.each do |agenda| %>
      <tr>
        <td><%= link_to agenda.clinica.nome, agenda_path(agenda) %></td>
        <td><%= agenda.data_emissao %></td>
        <td><%= agenda.quantidade %></td>
        <td><%= agenda.saldo %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_agenda_path(agenda), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      agenda_path(agenda),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_agenda_path,
            :class => 'btn btn-primary' %>
