<!DOCTYPE html>
<html>
<head>
  <title>Médico Amigo</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<header>
		<h1>Médico Amigo</h1>
		<nav>
			<ul>
				<% if !usuario_corrente %>
					<li><%= link_to "Fazer Login", log_in_path %></li>
					<li><%= link_to "Cadastre-se", new_medico_path %></li>
				<% else %>
					<li><%= link_to "Solicitações", "" %></li>
					<li><%= link_to "Agendas", agendas_path %></li>
					<li><%= link_to "Clínicas", clinicas_path %></li>
					<li><%= usuario_corrente.email %></li>
					<li><%= link_to "Sair", log_out_path %></li>
				<% end %>
			</ul>
		</nav>
	</header>
	<main>
		<% flash.each do |name, msg| %>
			<%= content_tag :div, msg, :id => "flash_#{name}" %>
		<% end %>
		<%= yield %>
	</main>
	<footer>
	</footer>
</body>
</html>
